// colors
jakmall-yellow = #FFFAE6
jakmall-orange = #FF8A00
jakmall-black = #2D2A40
jakmall-grey = #D8D8D8
jakmall-border = #CCCCCC
jakmall-placeholder = #AAAAAA
jakmall-underline = #EEEEEE
jakmall-white = #FFFFFF
jakmall-green = #1BD97B
jakmall-red = #FF0000

// screen size
desktop-limit = 1200px

$fa-font-path = '/dist/fonts';